form#booking-form {
    display: flex;
    gap: 5px;
    .single-items input {
        background: #2051F5;
        border: none;
        padding: 5px;
        width: 80%;
    }
    .input-group {
        position: relative;
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px; /* Adjust this value based on your design */
        }
    }
    button {
        width: 25%;
        border: none;
        padding: 0px 5px;
        border-radius: 5px;
    }

}